
{% for user in objects %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.customer.name }}</td>
    <td>{{ user.username }}</td>
    <td>
        <input id="enabled{{user.id}}" type="checkbox" class="module chk-col-deep-purple enabled" data-id="{{user.id}}" {% if user.enabled %} {{"checked"}} {% end %} {% if 'user_delete' not in privileges %} {{"disabled"}} {% end %}>
        <label for="enabled{{user.id}}"></label>
    </td>
    <td>
        {% if 'user_update' in privileges %}
        <button id="edit" data-json="{{user.get_json()}}" type="button" class="btn bg-indigo waves-effect waves-light edit"><i class="material-icons">create</i></button>
        {% end %}
    </td>
</tr>
{% end %}

<script>
    max_pages = {{max_pages}}
    entries_count = {{objects.count()}}
    if (entries_count > 0){
        $('#data_table').show()
        $('#empty_table').hide()
        if(page_nr > max_pages) {
            page_nr = max_pages
        }
        if(max_pages > 1){
            pages_li = ''
            pages_li += "<li class='paginate_button'><a class='paginate waves-effect'"
            if (page_nr - 1 > 0){
                pages_li += " data-nr='" + (parseInt(page_nr) - 1) +"'"
            }
            pages_li += "><i class='material-icons'>chevron_left</i></a></li>"
            for (i=1; i<=max_pages; i++){
                if (page_nr == i){
                    pages_li+= "<li class='paginate_button active'><a>"+i+"</a></li>"
                } else {
                    pages_li+= "<li class='paginate_button'><a class='paginate waves-effect' data-nr='"+i+"'>"+i+"</a></li>"
                }
            }
            pages_li += "<li class='paginate_button'><a class='paginate waves-effect'"
            if (page_nr != max_pages){
                pages_li += " data-nr='" + (parseInt(page_nr) + 1) +"'"
            }
            pages_li += "><i class='material-icons'>chevron_right</i></a></li>"

            $('#pages_ul').html(pages_li)

            $('.paginate').click(function () {
                if ($(this).attr('data-nr')) {
                    page_nr = parseInt($(this).attr('data-nr'))
                    query(main_route)
                }
            })
        } else {
            $('#pages_ul').empty()
        }

        {% if 'user_update' in privileges %}
        attach_edit()
        {% end %}

        {% if 'user_delete' in privileges %}
        $('.enabled').click(function (e) {
            e.preventDefault()
            cb_delete = this
            if($(this).is('checked')){
                cb_title = "¿Está seguro de que desea dar de baja al usuario?"
            } else {
                cb_title ="¿Está seguro de que desea dar de alta al usuario?"
            }
            swal({
                title: cb_title,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#673AB7",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                $(cb_delete).prop('checked', !$(cb_delete).is(':checked'))
                objeto = {
                    id: parseInt($(cb_delete).attr('data-id')),
                    enabled: $(cb_delete).is(':checked')
                }
                ajax_call("{{privileges['user_delete'].route}}", objeto)
            })
        })
        {% end %}
    } else {
        $('#data_table').hide()
        $('#empty_table').show()
        $('#left_page').removeAttr('data-nr')
        $('#right_page').removeAttr('data-nr')
        $('#pages_ul').empty()
    }

</script>
