<style>
    .accion {
        cursor: pointer
    }
</style>
<script src="resources/js/functions.js"></script>

<script>
    main_route = '/role'

    function default_values() {
        page_nr = 1
        max_entries = 10
        like_search = ""
        order_by = ""
        ascendant = true
    }
    default_values()

</script>
<div class="header"><h2>Importar Sucursal</h2></div>
<div class="body">
    <div class="row">

            <!--<div class="modal-dialog" role="document">-->
                    <form id="import-form" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h3 id="user_tittle" class="modal-title">Importar</h3>
                        </div>
                        <div class="modal-body">
                            <div id="user_form_body" class="box-body">
                                <label class="control-label">Busque el archivo excel a subir...</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input id="archivo" name="archivo" type="file" class="form-control file"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button id="insert" type="submit" class="btn btn-primary">Importar</button>

                        </div>
                    </form>
        </div>

        <!--{% block script %}-->

        <script>
//            $('#import').click(function () {
//                $('#form').modal('show');
//            })
            $(".file").each(function () {
                $(this).fileinput('refresh', {
                    allowedFileExtensions: ['xlsx'],
                    maxFileSize: 2000,
                    maxFilesNum: 1,
                    showUpload: false,
                    layoutTemplates: {
                        main1: '{preview}\n' +
                        '<div class="kv-upload-progress hide"></div>\n' +
                        '<div class="input-group {class}">\n' +
                        '   {caption}\n' +
                        '   <div class="input-group-btn">\n' +
                        '       {remove}\n' +
                        '       {cancel}\n' +
                        '       {browse}\n' +
                        '   </div>\n' +
                        '</div>',
                        main2: '{preview}\n<div class="kv-upload-progress hide"></div>\n{remove}\n{cancel}\n{browse}\n',
                        preview: '<div class="file-preview {class}">\n' +
                        '    {close}\n' +
                        '    <div class="{dropClass}">\n' +
                        '    <div class="file-preview-thumbnails">\n' +
                        '    </div>\n' +
                        '    <div class="clearfix"></div>' +
                        '    <div class="file-preview-status text-center text-success"></div>\n' +
                        '    <div class="kv-fileinput-error"></div>\n' +
                        '    </div>\n' +
                        '</div>',
                        icon: '<span class="glyphicon glyphicon-file kv-caption-icon"></span>',
                        caption: '<div tabindex="-1" class="form-control file-caption {class}">\n' +
                        '   <div class="file-caption-name"></div>\n' +
                        '</div>',
                        btnDefault: '<button type="{type}" tabindex="500" title="{title}" class="{css}"{status}>{icon}{label}</button>',
                        btnLink: '<a href="{href}" tabindex="500" title="{title}" class="{css}"{status}>{icon}{label}</a>',
                        btnBrowse: '<div tabindex="500" class="{css}"{status}>{icon}{label}</div>',
                        progress: '<div class="progress">\n' +
                        '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
                        '        {percent}%\n' +
                        '     </div>\n' +
                        '</div>',
                        footer: '<div class="file-thumbnail-footer">\n' +
                        '    <div class="file-caption-name" style="width:{width}">{caption}</div>\n' +
                        '    {progress} {actions}\n' +
                        '</div>',
                        actions: '<div class="file-actions">\n' +
                        '    <div class="file-footer-buttons">\n' +
                        '        {delete} {other}' +
                        '    </div>\n' +
                        '    {drag}\n' +
                        '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
                        '    <div class="clearfix"></div>\n' +
                        '</div>',
                        actionDelete: '<button type="button" class="kv-file-remove {removeClass}" title="{removeTitle}"{dataUrl}{dataKey}>{removeIcon}</button>\n',
                        actionDrag: '<span class="file-drag-handle {dragClass}" title="{dragTitle}">{dragIcon}</span>'
                    }
                })
            });
            $('#import-form').on('submit', function (e) {
                $('.page-loader-wrapper').show();
//                $('.modal-footer').hide()
                var data = new FormData($(this)[0]);
                console.log(data)
                $.ajax({
                    url: '/importar_suc',
                    type: "post",
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                }).done(function (response) {
                    $('.page-loader-wrapper').hide();
                    $('#form').modal('hide');
                    response = JSON.parse(response)
                    console.log(response)
                    if (response.success) {
                        swal({
                            title: "Operacion Correcta...",
                            text: response.message,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Confirmar",
                        }).then(function () {
                            query_render('/nota');

                        });
                    } else {
                        swal("Operacion Fallida", response.message, "error").then(function () {
                            query_render('/nota');
                        });
                    }

                });
                e.preventDefault();
            });
        </script>
        <script>
            $('.page-drop').click(function () {
                $('#max-entries-button').html($(this).text() + '<span class="caret"></span>')
                max_entries = parseInt($(this).text())
                query(main_route)
            })


            $('.page').click(function () {
                $('.entries-light-purple').toggleClass('entries-light-purple bg-deep-purple')
                $(this).addClass('entries-light-purple')
                $(this).removeClass('bg-deep-purple')
                max_entries = parseInt($(this).text())
                query(main_route)
            })

            $(".like_search_input").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    like_search = $(this).val()
                    query(main_route)
                }
            })

            $('#like_search_button').click(function () {
                like_search = $("#like_search_input").val()
                query(main_route)
            })

            $('#redo_button').click(function () {
                default_values()
                query(main_route)
            })

            $('.order_by_th').click(function () {
                $('.order_by_th').find('.fa').remove()
                if (order_by == $(this).attr('data-name')) {
                    ascendant = !ascendant
                } else {
                    order_by = $(this).attr('data-name')
                    ascendant = true
                }
                if (ascendant) {
                    $(this).append("<i class='fa fa-sort-asc' aria-hidden='true'></i>")
                } else {
                    $(this).append("<i class='fa fa-sort-desc' aria-hidden='true'></i>")
                }
                query(main_route)
            })
            show_search()

        </script>
        {% end %}

    </div>