                </div>
            </div>
        </div>
    </section>

    <script src="resources/plugins/jquery/jquery.min.js"></script>
    <script src="resources/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="resources/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="resources/plugins/node-waves/waves.js"></script>
    <script src="resources/js/admin.js"></script>
    <!--<script src="resources/js/demo.js"></script>
    <script src="resources/plugins/momentjs/moment.js"></script>-->
    <script src="resources/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="resources/plugins/fileinput/js/fileinput.min.js"></script>
    <!--<script src="resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>-->
    <script src="resources/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!--<script src="resources/plugins/full-calendar/js/moment.min.js"></script>
    <script src="resources/plugins/full-calendar/js/fullcalendar.min.js"></script>
    <script src='resources/plugins/full-calendar/js/es.js'></script>-->
    <script src='resources/plugins/autocomplete/js/jquery.flexselect.js'></script>
    <script src='resources/plugins/autocomplete/js/liquidmetal.js'></script>
    <script src="resources/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="resources/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="resources/js/scripts.js"></script>
</body>
</html>